.centerAligned-container, h2 {
    text-align: center;
}

.error {
    color: red;
}

.footer {
    margin-top: 1%;
}

.btn-gap {
    /*margin: 1%;*/
    margin-top: 1%;
    margin-bottom: 1%;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.button {
    color: black
    background-color: white;
    margin-top: 1%;
    transition-duration: 0.4s;
}

.button:hover {
    color: white;
    border-radius: 8px;
    margin-top: 1%;
}

.sendForm-button {
    border: 2px solid green;
}

.sendForm-button:hover {
    background-color: green;
}

.billManagement-button {
    border: 2px solid brown;
}

.billManagement-button:hover {
    background-color: brown;
}

.menu-button {
    border: 2px solid red;
}

.menu-button:hover {
    background-color: red;
}

.welcome-button {
    border: 2px solid blue;
}

.welcome-button:hover {
    background-color: blue;
}

.employeeManagement-button {
    border: 2px solid brown;
}

.employeeManagement-button:hover {
    background-color: brown;
}

.search-button {
    border: 2px solid orange;
}

.search-button:hover {
    background-color: orange;
}