<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Add Order Page</title>
        <link th:href="@{/css/error.css}" rel="stylesheet" />
    </head>
    <body>
        <form th:action="@{|/addOrder/tables/${tableNumber}|}" th:object="${order}" method="post">
            <label for="itemName">Item Name:</label>
            <input type="text" th:field="*{itemName}" id="itemName" placeholder="Item Name" />
            <p th:if="${#fields.hasErrors('itemName')}" th:errorclass="error" th:errors="*{itemName}"></p>
            <br/>
            <label for="amount">Amount:</label>
            <input type="text" th:field="*{amount}" id="amount" placeholder="Amount" />
            <p th:if="${#fields.hasErrors('amount')}" th:errorclass="error" th:errors="*{amount}"></p>
            <br/>
            <button type="submit">Add Order</button>
        </form>
    </body>
</html>