<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Bill Management Page</title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
        <h2>Bill Management</h2>
        <a th:href="@{/bills/showOpenBillForm}">
            <button type="button" class="sendForm-button">Open Bill</button>
        </a> &nbsp;
        <a th:href="@{/}">
            <button type="button" class="welcome-button">Go to welcome</button>
        </a>
        <h3>Bills</h3>
        <div>
            <ul>
                <li th:each="bill : ${bills}">
                    <a th:href="@{/bills/getBill/tables/{tableNumber}(tableNumber=${bill.tableNumber})}" th:text="'Table Number: ' + ${bill.tableNumber}"></a>
                </li>
            </ul>
        </div>
    </body>
</html>