<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Create Item Page</title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="centerAligned-container">
            <h2>Item</h2>
            <form th:action="@{/createItem}" th:object="${item}" method="post">
                <label for="name"><b>Name:</b></label>
                <input type="text" th:field="*{name}" id="name" placeholder="Name" />
                <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
                <br/>
                <label for="category"><b>Category:</b></label>
                <select name="category" id="category">
                    <option value="" th:disabled="disabled" th:selected="selected">Choose your option</option>
                    <option th:each="category : ${categories}" th:value="${category}" th:text="${category.getValue()}"></option>
                </select>
                <br/>
                <label for="price"><b>Price:</b></label>
                <input type="text" th:field="*{price}" id="price" placeholder="Price" />
                <p th:if="${#fields.hasErrors('price')}" th:errorclass="error" th:errors="*{price}"></p>
                <br/>
                <label for="ingredients"><b>Ingredients:</b></label>
                <input type="text" th:field="*{ingredients}" id="ingredients" placeholder="Ingredients" />
                <p th:if="${#fields.hasErrors('ingredients')}" th:errorclass="error" th:errors="*{ingredients}"></p>
                <br/>
                <button type="submit" class="sendForm-button">Create Item</button>
            </form>
            <div>
                <a th:href="@{/menu}">
                    <button type="button" class="menu-button">Go to menu</button>
                </a>
            </div>
        </div>
    </body>
</html>