<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Get Item Page</title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="centerAligned-container">
            <h2>Item</h2>
            <p><b>Name: </b><i><span th:text="${item.name}"></span></i></p>
            <p><b>Category: </b><i><span th:text="${item.category}"></span></i></p>
            <p><b>Price: </b><i><span th:text="${item.price}"></span></i></p>
            <p><b>Ingredients: </b><i><span th:text="${item.ingredients}"></span></i></p>
            <a th:href="@{/items/menu}">
                <button type="button" class="menu-button">Go to menu</button>
            </a>
        </div>
    </body>
</html>