<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Menu Page</title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
    </head>
    <body>
        <div class="centerAligned-container">
            <h2>Categories</h2>
            <div>
                <a th:href="@{/items/getItems?category=SALAD}">
                    <button type="button" class="button menu-button">Salads</button>
                </a>
            </div>
            <div>
                <a th:href="@{/items/getItems?category=APPETIZER}">
                    <button type="button" class="button menu-button">Appetizers</button>
                </a>
            </div>
            <div>
                <a th:href="@{/items/getItems?category=BEVERAGE}">
                    <button type="button" class="button menu-button">Beverages</button>
                </a>
            </div>
            <div>
                <a th:href="@{/items/getItems?category=DESSERT}">
                    <button type="button" class="button menu-button">Desserts</button>
                </a>
            </div>
            <div>
                <a th:href="@{/items/search}">
                    <button type="button" class="button search-button">Search Items</button>
                </a>
            </div>
            <div>
                <a th:href="@{/}">
                    <button type="button" class="button welcome-button">Go to welcome</button>
                </a>
            </div>
        </div>
    </body>
</html>