<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Menu QR Code Page</title>
    </head>
    <body>
        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPoAAAD6AQAAAACgl2eQAAABVklEQVR4Xu2YMa6DQAxEB1GkzBFyFI7GHo2jcARKChTHYy/6AaGUX2K00yzefQ228U4C+60J552TGpBqQKoBqQak/g1YQfUrXtOI3myO+CkH8PmdJ7EM+6YYECfcKt2G5zwURCQK+NIx0gbwsmLbw2QBi65eHMg87JtaACiWeyi16rgcYvcGvhTAV6wEMA9jdPU0esiqn7paAoiHzk9q1c05/4YFAbNqHP7SoQh4Hvjm0+gXK8BRLAgsGAx4eDtbBd7HGaUBuOiP8mIFdbxxRIDF+9h3eeN0sT2+cfh4JQBepT6VCDBiHmgj1AAqjQObe5ckYJkOZDuXXLSAKLAP3xhVkY5yzIMIwOfw9h5vPIlfMnrATOMQeaB/cMWpJrDSBrqNWHixHvyDFoBq8UMX5b49YOzqtdrAqzxIAPHiPf9F2S0+robYzYEfakCqAakGpBqQugfwAXs0MJN8HpfaAAAAAElFTkSuQmCC" alt="QR Code of Menu" />
    </body>
</html>