<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Search Items Page</title>
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h2>Items</h2>
        <div class="container mt-5">
            <form th:action="@{/items/search}" method="get">
                <div class="input-group mb-3">
                    <label for="itemName"><span class="input-group-text">Name</span></label>
                    <input type="text" id="itemName" class="form-control" th:name="name" size="50" placeholder="Name" />
                </div>
                <button type="submit" class="button search-button float-left btn-gap">Search</button>
            </form>
            <p class="float-right"><b>Number of Items: </b><span th:text="${items.size()}"></span></p>
            <table class="table table-bordered table-sm mt-2">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item : ${items}" th:field="${item}">
                        <td th:text="${itemStat.index + 1}"></td>
                        <td th:text="${item.name}"></td>
                        <td th:text="${item.category}"></td>
                        <td th:text="${item.price}"></td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a th:href="@{/items/menu}">
                    <button type="button" class="button menu-button float-right btn-gap">Go to menu</button>
                </a>
            </div>
        </div>
    </body>
</html>