<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Update Item Page</title>
        <link th:href="@{/css/error.css}" rel="stylesheet" />
    </head>
    <body>
        <form th:action="@{|/updateItem/${item.id}|}" th:object="${item}" method="post">
            <label for="name">Name:</label>
            <input type="text" th:field="*{name}" id="name" placeholder="Name" />
            <p th:if="${#fields.hasErrors('name')}" th:errorclass="error" th:errors="*{name}"></p>
            <br/>
            <label for="category">Category:</label>
            <input type="text" th:field="*{category}" id="category" placeholder="Category" />
            <p th:if="${#fields.hasErrors('category')}" th:errorclass="error" th:errors="*{category}"></p>
            <br/>
            <label for="price">Price:</label>
            <input type="text" th:field="*{price}" id="price" placeholder="Price" />
            <p th:if="${#fields.hasErrors('price')}" th:errorclass="error" th:errors="*{price}"></p>
            <br/>
            <button type="submit">Update Item</button>
        </form>
    </body>
</html>